/* Posit brand colors and fonts */
:root {
  --sl-color-accent-low: #e5f0fc;
  --sl-color-accent: #447099;
  --sl-color-accent-high: #213d4f;
  --sl-font: 'Open Sans', sans-serif;
  --sl-font-mono: 'Source Code Pro', monospace;
}
