---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.0
  name: packagemanagers.core.posit.team
spec:
  group: core.posit.team
  names:
    kind: PackageManager
    listKind: PackageManagerList
    plural: packagemanagers
    shortNames:
    - pm
    - pms
    singular: packagemanager
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: PackageManager is the Schema for the packagemanagers API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: PackageManagerSpec defines the desired state of PackageManager
            properties:
              addEnv:
                additionalProperties:
                  type: string
                description: AddEnv adds arbitrary environment variables to the container
                  env
                type: object
              awsAccountId:
                description: AwsAccountId is the account Id for this AWS Account.
                  It is used to create EKS-to-IAM annotations
                type: string
              azureFiles:
                description: AzureFiles configures Azure Files integration for persistent
                  storage
                properties:
                  shareSizeGiB:
                    description: ShareSizeGiB is the size of the Azure File Share
                      to create
                    type: integer
                  storageClassName:
                    description: StorageClassName is the name of the Kubernetes StorageClass
                      that uses the Azure Files CSI driver
                    type: string
                type: object
              chronicleImage:
                description: ChronicleAgentImage is the image used for the Chronicle
                  Agent
                type: string
              clusterDate:
                description: ClusterDate is the date id (YYYYmmdd) for the cluster.
                  It is used to create EKS-to-IAM annotations
                type: string
              config:
                properties:
                  CRAN:
                    description: 'PackageManagerCRANConfig is deprecated TODO: deprecated!
                      We will remove this soon!'
                    properties:
                      RSF:
                        type: boolean
                    type: object
                  Database:
                    properties:
                      Provider:
                        type: string
                    type: object
                  Debug:
                    properties:
                      Log:
                        type: string
                    type: object
                  Git:
                    properties:
                      AllowUnsandboxedGitBuilds:
                        type: boolean
                    type: object
                  Http:
                    properties:
                      Listen:
                        type: string
                    type: object
                  Metrics:
                    properties:
                      Enabled:
                        type: boolean
                    type: object
                  Postgres:
                    properties:
                      URL:
                        type: string
                      UsageDataURL:
                        type: string
                    type: object
                  Repos:
                    properties:
                      Bioconductor:
                        type: string
                      CRAN:
                        type: string
                      PyPI:
                        type: string
                    type: object
                  S3Storage:
                    properties:
                      Bucket:
                        type: string
                      Prefix:
                        type: string
                      Region:
                        type: string
                    type: object
                  Server:
                    properties:
                      AccessLog:
                        type: string
                      AccessLogFormat:
                        type: string
                      Address:
                        type: string
                      DataDir:
                        type: string
                      LauncherDir:
                        type: string
                      RVersion:
                        items:
                          type: string
                        type: array
                    type: object
                  Storage:
                    properties:
                      Default:
                        type: string
                    type: object
                type: object
              databaseConfig:
                properties:
                  dropOnTeardown:
                    type: boolean
                  host:
                    type: string
                  instrumentationSchema:
                    type: string
                  schema:
                    type: string
                  sslMode:
                    type: string
                type: object
              gitSSHKeys:
                description: |-
                  GitSSHKeys defines SSH key configurations for Git authentication
                  This is used for mounting SSH keys but not included in the .gcfg file
                items:
                  description: SSHKeyConfig defines SSH key configuration for Git
                    authentication
                  properties:
                    host:
                      description: |-
                        Host is the Git host domain this key applies to
                        Example: "github.com"
                      type: string
                    name:
                      description: Name is a unique identifier for this SSH key configuration
                      maxLength: 63
                      minLength: 1
                      pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?$
                      type: string
                    passphraseSecretRef:
                      description: PassphraseSecretRef optionally references a secret
                        containing the passphrase for an encrypted SSH key
                      properties:
                        key:
                          description: |-
                            Key is the specific key within the secret (primarily for Kubernetes secrets)
                            For AWS/Azure: usually not needed as the entire secret is used
                            For Kubernetes: the key within the Secret data
                          type: string
                        name:
                          description: |-
                            Name is the secret name
                            For AWS: secret name in AWS Secrets Manager (e.g., "ptd/cluster/packagemanager/ssh/github")
                            For Kubernetes: secret name in the same namespace
                            For Azure: key vault secret name
                          minLength: 1
                          type: string
                        source:
                          description: Source specifies the secret management system
                          enum:
                          - aws-secrets-manager
                          - kubernetes
                          - azure-key-vault
                          type: string
                      required:
                      - name
                      - source
                      type: object
                    secretRef:
                      description: SecretRef references the secret containing the
                        SSH private key
                      properties:
                        key:
                          description: |-
                            Key is the specific key within the secret (primarily for Kubernetes secrets)
                            For AWS/Azure: usually not needed as the entire secret is used
                            For Kubernetes: the key within the Secret data
                          type: string
                        name:
                          description: |-
                            Name is the secret name
                            For AWS: secret name in AWS Secrets Manager (e.g., "ptd/cluster/packagemanager/ssh/github")
                            For Kubernetes: secret name in the same namespace
                            For Azure: key vault secret name
                          minLength: 1
                          type: string
                        source:
                          description: Source specifies the secret management system
                          enum:
                          - aws-secrets-manager
                          - kubernetes
                          - azure-key-vault
                          type: string
                      required:
                      - name
                      - source
                      type: object
                  required:
                  - host
                  - name
                  - secretRef
                  type: object
                type: array
              image:
                type: string
              imagePullPolicy:
                description: PullPolicy describes a policy for if/when to pull a container
                  image
                type: string
              imagePullSecrets:
                description: |-
                  ImagePullSecrets is a set of image pull secrets to use for all image pulls. These names / secrets
                  must already exist in the namespace in question.
                items:
                  type: string
                type: array
              ingressAnnotations:
                additionalProperties:
                  type: string
                description: IngressAnnotations is a set of annotations to be applied
                  to all ingress routes
                type: object
              ingressClass:
                description: IngressClass is the ingress class to be used when creating
                  ingress routes
                type: string
              license:
                properties:
                  existingSecretKey:
                    type: string
                  existingSecretName:
                    type: string
                  key:
                    type: string
                  type:
                    type: string
                type: object
              mainDatabaseCredentialSecret:
                description: MainDatabaseCredentialSecret configures the secret used
                  for storing the main database credentials
                properties:
                  type:
                    type: string
                  vaultName:
                    type: string
                type: object
              nodeSelector:
                additionalProperties:
                  type: string
                type: object
              replicas:
                type: integer
              secret:
                description: Secret configures the secret management for this PackageManager
                properties:
                  type:
                    type: string
                  vaultName:
                    type: string
                type: object
              secretType:
                type: string
              sleep:
                description: |-
                  Sleep puts the service to sleep... so you can debug a crash looping container / etc. It is an ugly escape hatch,
                  but can also be useful on occasion
                type: boolean
              url:
                type: string
              volume:
                description: VolumeSpec is a specification for a PersistentVolumeClaim
                  to be created (and/or mounted)
                properties:
                  accessModes:
                    description: AccessModes is the access mode for the created PVC.
                      Only used if Create is true
                    items:
                      type: string
                    type: array
                  create:
                    description: Create determines whether the PVC should be created
                      or not
                    type: boolean
                  mountPath:
                    description: MountPath is not always used. It is only used for
                      volumes that are configurable... (i.e. additionalVolumes)
                    type: string
                  pvcName:
                    description: PvcName is used only if Create is false. The idea
                      is that the PVC has already been created. Only used if Create
                      is false
                    type: string
                  readOnly:
                    description: ReadOnly defaults to false and determines whether
                      the volume is mounted ReadOnly
                    type: boolean
                  size:
                    description: Size is the size of the PVC that is being created.
                      Only used if Create is true
                    type: string
                  storageClassName:
                    description: StorageClassName identifies the StorageClassName
                      created by the PV. Only used if Create is true
                    type: string
                  volumeName:
                    description: VolumeName is the name of the PV that will be referenced
                      by the created PVC. Only used if Create is true
                    type: string
                type: object
              workloadCompoundName:
                description: WorkloadCompoundName is the name for the workload
                type: string
              workloadSecret:
                description: WorkloadSecret configures the managed persistent secret
                  for the entire workload account
                properties:
                  type:
                    type: string
                  vaultName:
                    type: string
                type: object
            type: object
          status:
            description: PackageManagerStatus defines the observed state of PackageManager
            properties:
              keySecretRef:
                description: |-
                  SecretReference represents a Secret Reference. It has enough information to retrieve secret
                  in any namespace
                properties:
                  name:
                    description: name is unique within a namespace to reference a
                      secret resource.
                    type: string
                  namespace:
                    description: namespace defines the space within which the secret
                      name must be unique.
                    type: string
                type: object
                x-kubernetes-map-type: atomic
              ready:
                type: boolean
            required:
            - ready
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
